<section class="flex items-center justify-center min-h-screen bg-gray-100">
    <!-- Container -->
    <div class="bg-white shadow-md border border-gray-200 rounded-lg p-8 w-1/2 text-center">

        <!-- Title -->
        <h2 class="text-lg font-semibold text-gray-800 mb-6">
            Forgot Your Password?
        </h2>

        <!-- Input Fields -->
        <div class="space-y-4">
            <form action="/users/forgotpassword" method="POST">
                <div class="mb-4">
                    <input type="email" name="email" placeholder="Your email" 
                        class="w-1/2 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400" 
                        required/>
                </div>
                {{#if error}}
                    <div class="error-message text-xl text-center p-1 mb-4 text-red-700 font-bold">
                        <p>{{error}}</p>
                    </div>
                {{/if}}
                {{#if success}}
                    <div class="success-message text-xl text-center p-1 mb-4 text-green-700 font-bold">
                        <p>{{success}}</p>
                    </div>
                {{/if}}

                <!-- Submit Button -->
                <div class="mt-6">
                    <button class="w-1/2 bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700 transition duration-200">
                        Send Reset Link
                    </button>
                </div>
            </form>
        </div>

        <!-- Alternative Method (Manual)--> 
        <div class="mt-8">
            <p class="text-gray-600 font-medium mb-2">Try other registration</p>
            <span class="flex justify-center">
                <button
                class="w-1/2 border border-gray-300 py-2 rounded-md hover:bg-gray-50 transition duration-200 flex items-center justify-center">
                    <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="Google" class="w-5 h-5 mr-2" />
                    <span>Continue with Google</span>
                </button>
            </span>
        </div>

        <!-- Back to Login -->
        <div class="mt-6 text-sm text-gray-600">
            Remember your password? <a href="/users/login" class="text-blue-500 hover:underline">Log in</a>
        </div>

    </div>
</section>