<section class="flex flex-col mx-16 my-32 items-center">
    <p class="text-6xl text-black font-medium text-center font-serif">
        Create your account to access our features here.
    </p>
    <a href="/users/register" class="bg-blue-600 my-6 rounded-xl text-white text-2xl text-center font-sans p-4">
        Register Here
    </a>
</section>
<section class="flex flex-col mx-16 my-32 items-center">
    <p class="text-6xl text-black font-medium text-center font-serif">
        Already have an account, or you just create a new one? Come join with us by using your account here.
    </p>
    <a href="/users/login" class="bg-blue-600 my-6 rounded-xl text-white text-2xl text-center font-sans p-4">
        Log In Here
    </a>
</section>
<section class="flex flex-col mx-16 my-32 items-center">
    <p class="text-6xl text-black font-medium text-center font-serif">
        Make your work easier with our assistant, saving your time and effort right here.
    </p>
    <a href = "/chat" class="bg-blue-600 my-6 rounded-xl text-white text-2xl text-center font-sans p-4">
        Create New Chat
    </a>
</section>